@media screen and (max-width:700px) {

nav{
    height: 6vh;
}

.texts {
    height: fit-content;
    width: 40vw;
    font-weight: 600;
    font-size: 12px;
    margin-top: 70px;
    transform: translateX(50vw);
    margin-top: -4em;
}
.texts p{font-size: 17px;}
    
.mantras {
    width: fit-content;
    margin: 0 auto;
    font-size: 23px;
    margin-top: 25%;
}
#what{
    height: 30vh;
}

.navbar {
    background-image: url('sandip-karangiya-86N42yzJuLw-unsplash.jpg');
    width: 100%;
    height: 100%;
    background-size: 100vw;
    background-repeat: no-repeat;
}

.secone{
    padding-top: 100vh;
}
.img1 {
    /* margin-top: 20em; */
    position: absolute;
    background: url('krishna.png');
    background-repeat: no-repeat;
    height: 50vh;
    width: 50vw;
    background-color: rgba(255, 174, 0, 0.598);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: 0 0 10px 10px black;
    top: 45vh;
}

/* SECTION1 */
#what{
   display: none;
}
.img2, .img3 , .img4 , .img5{
    display: none;
}
.bio{
    margin-top: -32rem;
}
.bio img{
    height: 10em;
    width: 40rem;
    padding: 0 10px;
}

#kritoar{
 display: none;
 
    }
.shlokha{
    transform: translateY(-20vh);
}
.topic-1{
    transform: translateY(-24vh);
    padding-left: 12vw;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: overline;
}
.h43{
}
.main-con{
    width: 100%;
}
}